-# Service Vehicle
%th.center{:data => {:field => "reported_mileage", :align => 'right', :sortable => 'true',  :searchable => 'false', :formatter => 'integer_formatter'}} Mileage
%th.center{:data => {:field => "license_plate", :visible => 'false', :align => 'center', :sortable => 'true',  :searchable => 'false'}} License Plate
%th.center{:data => {:field => "expected_useful_miles", :visible => 'false', :align => 'right', :sortable => 'true',  :searchable => 'false', :formatter => 'integer_formatter'}} Expected Miles
%th.center{:data => {:field => "serial_number", :visible => 'false', :align => 'left', :sortable => 'true',  :searchable => 'false'}} VIN
%th.center{:data => {:field => "gross_vehicle_weight", :visible => 'false', :align => 'center', :sortable => 'true',  :searchable => 'false', :formatter => 'integer_formatter'}} GVWR
%th.center{:data => {:field => "seating_capacity", :visible => 'false', :align => 'center', :sortable => 'true',  :searchable => 'false'}} Seating
%th.center{:data => {:field => "vehicle_length", :visible => 'false', :align => 'center', :sortable => 'true',  :searchable => 'false'}} Length
%th.center{:data => {:field => "fuel_type_id", :visible => 'false', :align => 'center', :sortable => 'true',  :searchable => 'false'}} Fuel
%th.center{:data => {:field => "title_number", :visible => 'false', :align => 'left', :sortable => 'true',  :searchable => 'false'}} Title
%th.center{:data => {:field => "title_owner_organization_id", :visible => 'false', :align => 'left', :sortable => 'true',  :searchable => 'false'}} Title Owner
